body{
	font-family: "Roboto", sans-serif;
}

h1{
	font-size: 36px;
	line-height: 36px;
}

p {
	font-size: 16px;
	line-height: 22px;
}

h2{
    font-size: 18px;
	line-height: 30px;
}

.main1{
	font-size: 15px;
	line-height: 22px;
}

 .main2{
 	font-size: 12px;
 	line-height: 18px;
 	text-decoration: none;
 }

 .main01{
 	font-size: 12px;
 	line-height: 18px;
 	text-decoration: none;
 }

 .header a{
 	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
 }

 .busket{
 	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: black;
	text-decoration: none;
 }

 .main3{
 	font-size: 36px;
	line-height: 36px;
 }

 .main4{
 	font-size: 16px;
	line-height: 22px;
 }

 .main04{
 	font-size: 16px;
	line-height: 8,56px;
	font-weight: bold;
 }

 .main5{
 	font-size: 16px;
	line-height: 22px;
 }

 .footer1{
 	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
 }

 .footer2{
 	font-size: 16px;
	line-height: 20px;
 }

 .footer3{
 	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
 }

 .footer4{
 	font-size: 36px;
	line-height: 36px;
 }

  .footer5{
 	font-size: 16px;
	line-height: 22px;
 }