body{
	font-family: "Roboto", sans-serif;
}

.header-nerds a{
	font-size: 14px; 
	line-height: 30px; 
	text-decoration: none; 
	text-transform: uppercase; 
}

.busket-nerds{
	font-size: 14px; 
	line-height: 30px; 
	text-decoration: none; 
	text-transform: uppercase;
}

.h1-nerds-index{
	font-size: 36px; 
	line-height: 36px; 
}

.main-nerds-info{
	font-size: 16px; 
	line-height: 22px;
}

.button-head{
	font-size: 12px; 
	line-height: 18px;
	text-decoration: none; 
	text-transform: uppercase;
}

.main-types-index{
	font-size: 18px; 
	line-height: 30px;
	text-transform: uppercase;
}

.main-content-index{
	font-size: 15px; 
	line-height: 22px;
}

.button-for-buy{
	font-size: 12px; 
	line-height: 18px;
	text-decoration: none; 
	text-transform: uppercase;
}

.performance-index{
	font-size: 36px; 
	line-height: 36px;
}

.performance-continue-index{
	font-size: 16px; 
	line-height: 22px;
}

.performance-finish-index{
	font-size: 16px; 
	line-height: 22px;
	text-transform: uppercase;
}

.since{
	font-size: 16px; 
	line-height: 8,56px;
	text-transform: uppercase;
}

.topic-footer{
	font-size: 16px; 
	line-height: 30px;
	text-transform: uppercase;
}

.performance-footer{
	font-size: 16px; 
	line-height: 20px;
}

.button-footer{
	font-size: 12px; 
	line-height: 18px;
	text-decoration: none; 
	text-transform: uppercase;
}

.friends-footer{
	font-size: 36px; 
	line-height: 36px;
}

.friends-finish-footer{
	font-size: 16px; 
	line-height: 22px;
}











.welcome-header-catalog{
	font-size: 40px; 
	line-height: auto;
}

form{
	font-size: 16px; 
	line-height: 20px;
}

.criteria{
	font-size: 18px; 
	line-height: 30px;
}

.button-show-nerds{
	font-size: 12px; 
	line-height: 18px;
	text-decoration: none; 
	text-transform: uppercase;
}

.sort{
	font-size: 12px; 
	line-height: 18px;
}

.sort-criteria{
	text-decoration: none; 
    border-bottom: 1px dashed #000080;
}

.main-content-nerds{
	font-size: 18px; 
	line-height: 8,56px;
	text-transform: uppercase;
	text-decoration: none; 
}

.main-content-continue{
	font-size: 14px; 
	line-height: 18px;
}

.price-nerds{
	font-size: 18px; 
	line-height: 8,56px;
	text-transform: uppercase;
	text-decoration: none;
}

.next-page a{
	font-size: 12px; 
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
}